<h1>Listing URLs</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="1">Original URL</th>
      <th colspan="1">Shortened URL</th>
      <th colspan="1">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @short_urls.each do |short_url| %>
      <tr>
        <td><%= short_url.long %></td>
        <td><%= short_url.short %></td>

        <td>
          <% link_to short_url do %>
            <%= icon('eye') %>
          <% end %>
          <%= link_to edit_short_url_path(short_url) do %>
            <%= icon('pencil') %>
          <% end %>
          <%= link_to short_url,  method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= icon('trash-o') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Short URL', new_short_url_path, :class => "btn btn-default" %>